/* You can add global styles to this file, and also import other style files */
.error-validation {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url('assets/icon/error.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.success-validation {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url('assets/icon/ok.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}