<div>{{ msg }}</div>
<div>{{ id }}</div>
<h1 *ngIf="status">
   <div [ngClass]="{color: status }">
    mostrarme.... {{ status }}
   </div>
</h1>


<div class="row">
  <div *ngIf="messages && messages.length > 0">
    <div *ngFor="let item of messages; let i = index">
     
      <label> {{ i }}  {{ item.id }} {{ item.name }}</label>
      <button class="btn btn-danger" (click)="delete(item.id)">Eliminar</button>
      <button class="btn btn-primary" (click)="edit(item)">Editar</button>
     </div>
  </div>
  
</div>

<input type="text"  class="form-control" [(ngModel)]="id">
<input type="text"  class="form-control" [(ngModel)]="name">

<button class="btn btn-primary" (click)="add()">Add</button>
<button class="btn btn-success" (click)="update()">Update</button>